nav {
  background-color: #41b951;
}

.brand-logo {
  font-weight: 700;
  font-size: 30px;
}

.navDiv {
  background-color: #41b951;
}

.nav-content {
  height: 250px;
}

.nav-div {
  width: 300px;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

.nav-div img {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 0 auto;
}

.profile-name {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

.user-text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.material-icons {
  color: #ffffff !important;
}

.nav-label-icon {
  top: -9px;
  position: relative;
  background: red;
  padding: 5px;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

.dropdown-content {
  margin: 0;
  display: none;
  min-width: 350px;
  max-height: 320px;
  margin-left: -1px;
  overflow-y: scroll;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.title {
  color: #41b951;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal;
}

.isRead {
  color: #64b5f6;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: normal;
}

.unread {
  color: #41b951;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: bold;
}

.time {
  margin-bottom: 10px !important;
  font-style: italic;
}

.text {
  text-align: center;
}

.material-icons {
  color: #41b951 !important;
  cursor: pointer;
}

.secondary-content {
  margin-top: -5px !important;
}

.markAll {
  color: #ffffff;
  background: #41b951 !important;
}

li.dropdown-button {
  margin-left: 20px !important;
}
