.button {
  background: none !important;
  border: none !important;
  height: 10px;
}

.title {
  font-weight: bold;
  color: #41b951;
}

.time {
  font-size: 14px;
  color: #666565;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-right: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
}
.active {
  width: 350px !important;
  height: 350px !important;
  border-radius: none !important;
  margin: -150px 0px 0px 120px !important;
}

.collection {
  border: none !important;
}

.collection-item {
  border: none !important;
}
