<ul class="collection" *ngFor="let post of posts">
  <li class="collection-item avatar">
    {{ post.username }}
    <img src="http://placehold.jp/50x50.png" alt="" class="circle" />
    <span class="title"></span>
    <p class="time">
      {{ TimeFromNow(post.created) }}
      <br />
      Contry
    </p>
    <div class="row">
      <div class="col 12">
        <p>{{ post.post }}</p>
      </div>
    </div>
  </li>
</ul>
