form {
  background-color: #f0faf1;
  border-color: brown;
}

.formDiv {
  border: red;
  margin: 0px 20px 0px 20px;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
  background-color: #41b951;
}

.file-field input[type='file'] {
  width: 70% !important;
}
