<div class="row">
  <div class="col s12 m12 l10">
    <div class="card-content">
      <form [formGroup]="postForm" novalidate (ngSubmit)="submitPost()" class="col s12">
        <div class="formDiv">
          <textarea
            formControlName="post"
            id="textarea1"
            class="materialize-textarea"
          ></textarea>
          <div class="file-field input-field">
            <div class="row">
              <div class="col s6"></div>

              <div class="col s6">
                <button class="btn postBtn">Tweet</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
