<app-navbar></app-navbar>

<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col s12 m4 l3">
      <app-feed-side></app-feed-side>
    </div>
    <div class="col s12 m8 l9">
      <app-post-form></app-post-form>
      <app-posts></app-posts>
    </div>
  </div>
</div>
