#signupbtn {
  float: right;
  margin-right: 10px;
  background-color: #41b951;
  font-weight: 500;
}
#title {
  color: rgb(14, 13, 13);
  padding: 8px;
  margin-top: 0px;
  font-weight: 400;
  text-align: center;
}
form {
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
}

.error {
  color: red;
}

.indeterminate {
  background-color: #64b5f6 !important;
}

.input-field {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

#errorMsg {
  background: #f6b2b5;
  width: 100%;
  height: 50px;
  text-align: center;
}

#errorMsg span {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: relative;
  float: left;
  font-size: 15px;
}
