.bodyDiv {
  height: 100vh;
}

div.bodyContainer {
  margin-top: 70px !important;
}

.tabs a {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 450px !important;
}
