<div class="card-panel green bodyDiv">
  <div class="container bodyContainer">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
              <li class="tab"><a href="#login" class="active">Login</a></li>
              <li class="tab"><a class="active" href="#signup">Sign up</a></li>
            </ul>
          </div>
          <div class="card-content auth-content">
            <div id="login">
              <app-login></app-login>
            </div>
            <div id="signup">
              <app-signup></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
