a {
  color: black;
}

.active a {
  color: white !important;
}

.active {
  background-color: #41b951 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
