<ul class="collection with-header">
  <li class="collection-header">
    <img class="circle responsive-img center" src="http://placehold.jp/50x50.png" />
    <h6 style="text-align: center">{{ user.data.username }}</h6>
  </li>
  <li class="collection-item">
    <div>
      Feed<a href="#!" class="secondary-content"><i class="material-icons">public</i></a>
    </div>
  </li>
  <li
    class="collection-item"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a [routerLink]="['/people']">
      <div>
        Find people<a href="#!" class="secondary-content"
          ><i class="material-icons">people</i></a
        >
      </div></a
    >
  </li>
  <li class="collection-item">
    <div>
      Followers
      <a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div>
      Following<a href="#!" class="secondary-content"
        ><i class="material-icons">people_outline</i></a
      >
    </div>
  </li>
  <li class="collection-item">
    <div>
      Images<a href="#!" class="secondary-content"
        ><i class="material-icons">photo_library</i></a
      >
    </div>
  </li>
  <li class="collection-item">
    <div>
      Notifications<a href="#!" class="secondary-content"
        ><i class="material-icons">alarm</i></a
      >
    </div>
  </li>
</ul>
