<app-navbar></app-navbar>
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col s12 m4 l3">
      <app-feed-side></app-feed-side>
    </div>

    <div class="col s12 m7 l6">
      <div class="row">
        <div class="col s12 m6 12 cardDiv" *ngFor="let user of users">
          <div class="card">
            <a>
              <div class="card-image imgDiv">
                <img
                  class="imgCircle responsive-img"
                  src="http://placehold.jp/50x50.png"
                />
              </div>
            </a>
          </div>
          <div class="card-action">
            <h5 class="card-title">{{ user.username }}</h5>
            <p>Country</p>
            <button class="btn follow-btn">Follow</button>
            <a class="secondary-content" [routerLink]="['/chat', user.username]">
              <i class="material-icons chat-icon">chat</i>
            </a>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
